.timeline {
    border-left: 3px solid #5c1c8a;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    color: #e8ebf1;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #d89d25;
    box-shadow: 0 0 0 3px #d89d25;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

.roadmap-section {
    background-image: url(../img/roadmap.jpg);
}

#token {
    padding: 40px 0;
}

.token-information {
    padding: 10px 0;
}

.text-purple {
    color: #6f42c1 !important;
}

.btn-outline-purple {
    color: #6f42c1;
    border-color: #6f42c1;
}

.btn-outline-purple:hover {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-outline-purple:focus,
.btn-outline-purple.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-purple {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-purple:hover {
    color: #6f42c1;
    background-color: #fff;
    border-color: #6f42c1;
}

.btn-purple:focus,
.btn-purple.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.g-recaptcha {
    margin: 0 auto;
    display: table
}

#faq {
    padding-top: 30px;
    height: 100%;
    background: linear-gradient(90deg, #6f42c1 25%, #fff 75%);
}

input {
    display: none;
}

label {
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 3px solid #000000;
    user-select: none;
}

label div:first-child {
    width: 100%;
    line-height: 45px;
    margin-left: 10px;
    font-size: 1.2em;
}

.accordion-title {
    color: #000;
}

.cross{
    margin-right:15px;
    margin-top:3px;
}

.cross:before,.cross:after {
    content: '';
    border-top: 2px solid #fff;
    width: 15px;
    display: block;
    margin-top: 18px;
    transition: 0.3s;
}

.cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
}

.content {
    box-sizing: border-box;
    font-size: 0.9em;
    margin: 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
}

input:checked ~ .content {
    max-height: 400px;
    transition: max-height, 1s;
}

input:checked ~ label .cross:before {
    transform: rotate(180deg);
}

input:checked ~ label .cross:after {
    transform: rotate(0deg);
}

.questions{
    margin-top:20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
}

.questions label{
    border:none;
    box-shadow: none;
    margin:0;
}

input:checked ~ .questions {
    max-height: 400px;
    border-bottom:2px solid #3E474F;
    transition: 1s;
}

/*----------tool-tip------------*/

.tip {
    color: #f03768;
    cursor: help;
    position: relative;
    overflow: visible;
    font-family: monospace;
    font-size: 1.3em;
}

.tip:before,
.tip:after {
    position: absolute;
    opacity: 0;
    z-index: -100;    
    transform: translateY(-30%);
    transition: .4s;
}

.tip:before {
    content: '';
    border-style: solid;
    border-width: 0.8em 0.5em 0 0.5em;
    border-color: #3E474F transparent transparent transparent;
    transform: translateY(-200%);
    bottom:90%;
    left:50%;
}

.tip:after {
    content: attr(data-tip);
    background: #3E474F;
    color: white;
    width: 150px;
    padding: 10px;
    font-size: 0.8em;
    bottom: 150%;
    left: -50%;
}

.tip:hover:before,
.tip:hover:after {
    opacity: 1;
    z-index: 100;
    transform: scaleY(1);
}
